:root {
  --title-text-color: #212121;
  --link-text-color: #2196f3;
  --main-text-color: #757575;
  --bg-white-color: #ffffff;
  --bg-footer-color: #2f303a;
}
body {
  background-color: var(--bg-white-color);
  color: var(--main-text-color);

  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
/* nav logo */

.list {
  list-style: none;
}
header .logo {
  color: var(--title-text-color);
  text-decoration: none;
}
.logo .logo-web {
  color: var(--link-text-color);
}
.logo .logo-studio:hover,
.logo .logo-studio:focus {
  color: var(--link-text-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--link-text-color);
  text-decoration: none;
}
.address-nav .link {
  color: var(--main-text-color);
  text-decoration: none;
  list-style: none;
}
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--link-text-color);
}
.site-nav .current {
  color: var(--link-text-color);
}

/* hero */
.hero {
  background-color: #2f303a;
}
.hero .hero-title {
  color: var(--bg-white-color);
  text-align: center;
}
.hero .button {
  background-color: var(--link-text-color);
  color: var(--bg-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}
/* features */
.section .title {
  color: var(--title-text-color);
}
.section .section-title {
  color: var(--title-text-color);
}
.features .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
}

/* divices section */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
}
.section-title.team {
  text-align: center;
}
/* our team */
.section-title.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}
.ocupation {
  font-size: 16px;
  line-height: 1.8;
}
/* footer */
.footer {
  background-color: var(--bg-footer-color);
}

.footer .logo-studio {
  color: var(--bg-white-color);
}
.address-list {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
}
.address-list .link {
  color: var(--main-text-color);
  font-style: normal;
}
.footer .address-list.map {
  color: var(--bg-white-color);
  font-style: normal;
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--link-text-color);
}
.address-list .map:hover,
.address-list .map:focus {
  color: var(--link-text-color);
}

/* PORTFOLIO PAGE */
.portfolio ul {
  list-style: none;
}
.portfolio.link {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  text-decoration: none;
}
.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
}
.portfolio .description {
  font-size: 16px;
  line-height: 1.8;
  color: var(--main-text-color);
  text-decoration: none;
}
.portfolio.link .text-link:hover {
  text-decoration: underline;
  color: var(--link-text-color);
}
