:root {
  --title-text-color: #212121;
  --link-text-color: #2196f3;
  --main-text-color: #757575;
  --bg-white-color: #ffffff;
  --bg-footer-color: #2f303a;
}
body {
  background-color: var(--bg-white-color);
  color: var(--main-text-color);
}
/* nav logo */
.link,
.map {
  text-decoration: none;
}
.list {
  list-style: none;
}
header .logo {
  color: var(--title-text-color);
  text-decoration: none;
}
.logo .logo-web {
  color: var(--link-text-color);
}
.logo .logo-studio:hover,
.logo .logo-studio:focus {
  color: var(--link-text-color);
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--link-text-color);
  text-decoration: none;
}
.address-nav .link {
  color: var(--main-text-color);
  text-decoration: none;
  list-style: none;
}
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--link-text-color);
}
/* hero */
.hero .hero-title {
  color: var(--title-text-color);
}
.hero .button {
  background-color: var(--link-text-color);
  color: var(--bg-white-color);
}
/* features */
.section .title {
  color: var(--title-text-color);
}
.section .section-title {
  color: var(--title-text-color);
}
/* footer */
footer {
  background-color: var(--bg-footer-color);
}

footer .logo-studio {
  color: var(--bg-white-color);
}
.address-list {
  list-style: none;
  text-decoration: none;
}
.address-list .link {
  color: var(--main-text-color);
}
.address-list .map {
  color: var(--bg-white-color);
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--link-text-color);
}
.address-list .map:hover,
.address-list .map:focus {
  color: var(--link-text-color);
}
